main {
  padding: 120px 0 0;
}
body {
  overflow-x: hidden;
}

/*SLIDER*/

/*STORIES*/
.stories {
  margin-bottom: 30px;
  @media (min-width: 1000px) {
    margin-bottom: 50px;
  }
  .container {
    .block_title {
      padding: 0 15px;
      margin-bottom: 5px;
      @media (min-width: 1000px) {
        padding: 0px 15px;
        @include flexible($jc: space-between);
      }
      .block-heading {
        b {
          padding: 7px 0px;
          font-size: $font-size-xl;
          line-height: normal;
          display: inline-block;
          vertical-align: middle;
          font-weight: normal;
          @media (min-width: 1000px) {
            font-size: calc($font-size-xxlg - 1px);
          }
        }
        span {
          display: none;
          width: 32px;
          height: 32px;
          background-color: $primary-color;
          color: $additional-white;
          border-radius: 100%;
          text-align: center;
          font-size: $font-size-lg;
          margin-left: 8px;
          line-height: 34px;
          @media (min-width: 1000px) {
            display: inline-block;
          }
        }
      }
    }
    .block_content {
      .s_carousel {
        height: 140px;
        overflow: hidden;
        .viewport {
          height: 140px;
          touch-action: pan-y;
          .slider {
            @media (min-width: 1000px) {
              @include flexible($jc: space-between);
            }
            .s_item {
              position: absolute;
              left: 3%;
              width: 300px;
              padding-left: 15px;
              &:nth-child(2) {
                left: 91%;
              }
              &:nth-child(3) {
                left: 121%;
              }
              @media (min-width: 400px) and (max-width: 640px) {
                &:nth-child(2) {
                  left: 61%;
                }
                &:nth-child(3) {
                  left: 101%;
                }
              }
              @media (min-width: 640px) and (max-width: 840) {
                &:nth-child(2) {
                  left: 51%;
                }
                &:nth-child(3) {
                  left: 91%;
                }
              }
              @media (min-width: 840px) and (max-width: 1000px) {
                &:nth-child(2) {
                  left: 45%;
                }
                &:nth-child(3) {
                  left: 87%;
                }
              }
              @media (min-width: 1000px) {
                width: 376.5px;
                padding-left: 30px;
                height: 140px;
                left: 0;
                position: inherit;
              }
              a {
                background-color: $bg-green;
                height: 140px;
                border-radius: 10px;
                overflow: hidden;
                display: block;
                position: relative;
                .story_desc {
                  max-width: 140px;
                  position: absolute;
                  bottom: 25px;
                  left: 25px;
                  .tag {
                    color: $bg-green;
                    background-color: $additional-white;
                    font-size: $font-size-xsm;
                    height: 24px;
                    line-height: 22px;
                    border-radius: 20px;
                    display: inline-block;
                    padding: 2px 13px;
                    margin-bottom: 5px;
                  }
                  b {
                    line-height: 22px;
                    display: -webkit-box;
                    height: 66px;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    font-size: $font-size-lg;
                    color: $additional-white;
                    letter-spacing: 0.19px;
                    white-space: break-spaces;
                  }
                }
                .story_image {
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  height: 100%;
                  width: 140px;
                  background-position: bottom right;
                  background-size: cover;
                  background-repeat: no-repeat;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*CARD ORDER*/

.block {
  padding: 0px 15px;
  .container {
    padding: 0;
    .blocks_content {
      margin: 0;
      display: block;
      @media (min-width: 1000px) {
        @include flexible($jc: flex-start);
      }
      .card_order {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        @media (min-width: 1000px) {
          padding: 0px 15px;
          line-height: 2.6;
        }
        .card_block {
          overflow: visible;
          border-radius: 10px;
          border: 1px solid #ececec;
          height: 100%;
          background-color: #f3f1f7;
          position: relative;
          perspective: 2000px;
          width: 100%;
          @media (min-width: 1000px) {
            width: 100%;
            overflow: hidden;
          }
          .card_3d {
            width: 150px;
            height: 240px;
            position: absolute;
            top: 20px;
            left: -30%;
            border-radius: 10px;
            transform-origin: center;
            background-position: center;
            background-size: cover;
            right: 40px;
            box-shadow: 50px 60px 80px rgba(0, 0, 0, 0.2);
            transition: all 0.4s cubic-bezier(0.52, 0.01, 0.16, 1);
            transform: matrix3d(
              0.858606,
              0.298387,
              0,
              -0.000414946,
              -0.651602,
              0.939378,
              0,
              -4.94499e-5,
              0,
              0,
              1,
              0,
              216,
              -3,
              0,
              1
            );
            &:hover {
              top: 20px;
            }
            @media (min-width: 1000px) {
              width: 190px;
              height: 300px;
              transform: none;
              top: 30px;
              left: inherit;
            }
          }
          .c_b_desc {
            padding: 280px 20px 20px;
            width: 100%;
            @media (min-width: 1000px) {
              width: 50%;
              padding: 30px 0 30px 30px;
            }
            .cb_b {
              font-size: $font-size-md;
              display: block;
              font-weight: 600;
            }
            .cb_p {
              font-size: $font-size-sm;
              display: block;
              line-height: 20px;
              color: rgba(0, 0, 0, 0.5);
              font-weight: normal;
            }
            .cb_info {
              margin: 10px 0px;
              @include flexible($jc: space-between);
              .cb_item {
                width: 50%;
                p {
                  font-size: $font-size-sm;
                  color: rgba(0, 0, 0, 0.5);
                }
                b {
                  font-size: $font-size-lg;
                  font-weight: normal;
                }
              }
            }
            .yelo_bttn {
              @extend %yellow_btn_mobile;
              font-size: $font-size-sm;
              line-height: normal;
              font-weight: 500;

              @media (min-width: 1100px) {
                font-size: $font-size-md;
                width: 200px;
                height: 55px;
                padding: 13px 25px;
              }
            }
          }
        }
      }
      .calculator {
        .col_content {
          border-radius: 10px;
          border: 1px solid #ececec;
          height: 100%;
          overflow: hidden;
          .cc_title {
            @include flexible($jc: space-between);
            b {
              font-size: $font-size-xl;
            }
            a {
              display: none;
              @media (min-width: 1000px) {
                background-image: url("../../../../public/images/blueright.svg");
                background-repeat: no-repeat;
                background-position: right 9px;
                display: inline-block;
                font-family: "b";
                padding: 5px 38px 5px 0px;
                transition: all 0.2s cubic-bezier(0.52, 0.01, 0.16, 1);
                color: $additional-blue;
                &:hover {
                  margin: 0 -8px 0 0;
                  padding: 5px 46px 5px 0;
                  background-position: right 9px;
                }
              }
            }
          }
          &.loan_calculator {
            padding: 20px;
          }
          .loan_calc {
            padding: 10px 0 0 0;
            .lc_inputs {
              border: 1px solid #ececec;
              border-radius: 10px;
              @media (min-width: 1000px) {
                height: 70px;
                border: 1px solid #e7e7e7;
                border-radius: 10px 10px 10px 0;
                @include flexible($jc: space-between);
              }
              .lc_amount {
                width: 100%;
                p {
                  color: $secondary-color;
                  font-size: $font-size-15;
                  line-height: 15px;
                  margin-bottom: 4px;
                }
                .range_result {
                  font-family: "m";
                  font-size: $font-size-xxlg;
                  line-height: 26px;
                  width: 100%;
                  outline: none;
                  appearance: none;
                  border: none;
                }
                .lc_c {
                  position: absolute;
                  font-family: "b";
                  font-size: $font-size-15;
                  text-transform: capitalize;
                  color: rgba(0, 0, 0, 0.5);
                  right: 30px;
                  bottom: 20px;
                  line-height: 15px;
                }
              }
              .lc_term {
                width: 100%;
                p {
                  color: rgba(0, 0, 0);
                  font-size: $font-size-15;
                  line-height: 15px;
                  margin-bottom: 4px;
                  white-space: nowrap;
                }
                .range_result {
                  font-family: "m";
                  font-size: 26px;
                  line-height: 26px;
                  width: 100%;
                  outline: none;
                  border: none;
                }
                .lc_c {
                  position: absolute;
                  font-family: "b";
                  font-size: 15px;
                  text-transform: capitalize;
                  color: rgba(0, 0, 0, 0.5);
                  right: 30px;
                  bottom: 20px;
                  line-height: 15px;
                }
              }
            }
            .lc_results {
              width: 100%;
              margin-top: 20px;
              @media (min-width: 1000px) {
                @include flexible($jc: space-between, $ai: center);
                margin-top: 45px;
              }
              .lc_r_self {
                @include flexible($jc: center, $direction: row);
                margin-bottom: 5px;
                width: 100%;
                @media (min-width: 1000px) {
                  width: calc(100% - 50px);
                }
                .lc_r_item {
                  text-align: right;
                  width: 33%;
                  display: block;
                  @media (min-width: 1000px) {
                    width: 50%;
                    margin: 0;
                  }
                  p {
                    color: rgba(0, 0, 0, 0.5);
                    line-height: 16px;
                  }
                  b {
                    font-size: 26px;
                    font-family: "m";

                    span {
                      font-size: $font-size-xl;
                    }
                  }
                }
              }
              .yelo_bttn {
                @extend %yellow_btn_mobile;
              }
            }
          }
        }
      }
    }
  }
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #ececec;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  outline: none;
  @media (min-width: 1000px) {
    background-color: $primary-color;
    height: 2px;
  }
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
  background-color: $additional-white;
  border: 3px solid $primary-color;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  @media (min-width: 1000px) {
  }
}

.lc_item {
  padding: 10px;
  position: relative;
}

.col {
  width: 100% !important;
  padding: 0px !important;
  margin: 0 0 15px 0;
  @media (min-width: 1000px) {
    width: 50% !important;
    padding: 0 15px !important;
  }
}

/*BLOGS*/

.blogs {
  margin-top: 2rem;
  .container {
    .block_title {
      .block_heading {
        @media (min-width: 1000px) {
          padding: 0px 15px;
        }
        b {
          padding: 7px 0px;
        }
      }
    }
    .blogs_content {
      @include flexible($wrap: wrap);
      margin: 0;
      .blogItem {
        width: 100%;
        padding: 15px;
        @media (min-width: 1000px) {
          width: 33.3333%;
        }
        .col_content {
          border-radius: 10px;
          border: 1px solid #ececec;
          height: 100%;
          overflow: hidden;
          .news_1_desc {
            padding: 20px;
            position: relative;
            b {
              font-size: $font-size-md;
              font-weight: bold;
              line-height: 24px;
              display: inline-block;
              min-height: 72px;
            }
            p {
              color: rgba(0, 0, 0, 0.5);
              font-size: $font-size-sm;
              line-height: 20px;
              padding: 67px 0 0 0;
            }
            .news_foot {
              @include flexible(
                $jc: space-between,
                $wrap: nowrap,
                $ai: flex-start
              );
              align-content: stretch;
              .arr_bttn {
                margin-top: 10px;
                background: none;
                padding: 5px 0px;
                display: inline-block;
                transition: all 0.2s cubic-bezier(0.52, 0.01, 0.16, 1);
                color: $additional-blue;
              }
              .time {
                display: inline-block;
                margin-top: 13px;
                color: rgba(0, 0, 0, 0.6);
              }
            }
            .full_link {
              display: inline-block;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              margin: 0;
            }
          }
        }
      }
    }
    .news_link {
      padding: 25px 0;
      text-align: center;
      .all_news {
        display: inline-block;
        width: auto;
        height: 48px;
        padding: 0 54px 0 20px;
        color: #0091fe;
        line-height: 50px;
        background-repeat: no-repeat;
        background-position: calc(100% - 12px) 50%;
        box-shadow: inset 0 0 0 1px #0091fe;
        border-radius: 6px;
        transition: 0.2s all ease-in-out;
        &:hover {
          background-image: url("https://www.yelo.az/site/templates/style/img/white_arr.svg") !important;
          background-repeat: no-repeat;
          background-position: calc(100% - 12px) 50%;
          background-color: $additional-blue;
          color: $additional-white;
        }
      }
    }
  }
}

/* BENEFITS*/

.benefits {
  margin-bottom: 30px;
  .container {
    padding: 15px;
    .block_title {
      margin-bottom: 5px;
      @include flexible($jc: space-between);
      .block-heading {
        b {
          padding: 7px 0px;
          font-size: $font-size-lg;
          @media (min-width: 1000px) {
            font-size: $font-size-xxlg;
          }
        }
      }
    }
    .block_content {
      display: block;
      @media (min-width: 1000px) {
        @include flexible();
      }
      .col {
        &:first-child {
          @media (min-width: 1000px) {
            width: 66.66% !important;
            padding: 0 15px;
          }
        }
        &:last-child {
          margin: 0;
          @media (min-width: 1000px) {
            width: 32.33% !important;
            padding: 0 15px;
          }
          .exchange_rate {
            padding: 20px;
          }
          .cc_title {
            @include flexible($jc: space-between);
            b {
              font-size: $font-size-xl;
            }
            .change_rates {
              position: relative;
              padding-top: 5px;
              a {
                display: none;
              }
              .active_lang {
                color: rgba(0, 0, 0, 0.5);
                background: url("../../../../public/images/activeLang.svg")
                  no-repeat right center;
                padding: 5px 15px 0 0;
              }
              .select_box {
                transform-origin: right top;
                position: absolute;
                left: auto;
                right: 0;
                top: 0;
                transform: scale(0);
                opacity: 0;
                transition: all 0.2s cubic-bezier(1, 0, 0, 1);
                visibility: hidden;
                border-radius: 5px;
                padding: 10px 0;
                background: #ffffff;
                box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.17);
                text-align: left;
                z-index: 9;
                li {
                  padding: 0;
                  margin: 0;
                  display: block;
                  a {
                    padding: 0px 20px;
                    display: block;
                    white-space: nowrap;
                    &.active {
                      color: $secondary-color;
                    }
                  }
                }
              }
            }
          }
          .calculator {
            .c_line {
              @include flexible($jc: space-between);
              border-bottom: 3px solid $primary-color;
              padding-top: 10px;
              .c_int {
                font-size: calc($font-size-xxlg - 5px);
                width: 100%;
                height: 40px;
                outline: none;
              }
              .s_curr {
                background-color: transparent;
                border: none;
                font-weight: 600;
              }
            }
            .c_result {
              @include flexible($jc: space-between);
              margin-top: 25px;
              .cr_item {
                width: 33.3333%;
                p {
                  font-size: $font-size-md;
                  color: rgba(0, 0, 0, 0.5);
                }
                b {
                  font-size: $font-size-md;
                  font-weight: 500;
                  display: block;
                }
              }
            }
          }
          .info_p {
            padding: 15px 0px 0px;
            color: rgba(0, 0, 0, 0.9);
            font-size: $font-size-sm;
          }
          .all_exchanges {
            background-color: red;
            margin: 25px -20px -20px;
            border-top: 1px solid #ececec;
            display: block;
            padding: 17px 30px;
            transition: all 0.2s cubic-bezier(0.52, 0.01, 0.16, 1);
            background: url(../../../../public/images/blueright.svg) no-repeat
              91% 21px;
            @media (min-width: 1000px) {
              margin: 15px -20px -20px;
            }
            &:hover {
              background-color: $additional-blue;
              color: $additional-white;

              background-image: url(../../../../public/images/whiteright.svg);
            }
          }
        }

        .col_content {
          border-radius: 10px;
          border: 1px solid #ececec;
          height: 100%;
          overflow: hidden;
          @media (min-width: 1000px) {
            height: 392.2px;
          }
          &.app_block {
            background: none;
            position: relative;
            @media (min-width: 1000px) {
              background-image: url("../../../../public/images/Rectangle.svg") !important;
              background-repeat: no-repeat;
              background-position: right center;
              background-size: contain;
              position: relative;
            }
          }
          .app_image {
            width: 100%;
            bottom: 0px;
            right: 0px;
            position: relative;
            height: 200px;
            background-color: #ffc629;
            border-radius: 10px 10px 0 0;
            overflow: hidden;
            @media (min-width: 1000px) {
              width: 50%;
              bottom: 0px;
              right: 30px;
              position: absolute;
              height: 115%;
              background-color: transparent;
              overflow: hidden;
            }
            .app_phone {
              position: relative;
              top: 0;
              left: -22px;
              width: 180px;
              height: 100%;
              margin: 0 auto;
              background-size: contain;
              background-position: bottom right;
              background-repeat: no-repeat;
              z-index: 2;
              @media (min-width: 1000px) {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-size: contain;
                background-position: bottom right;
                background-repeat: no-repeat;
                background-color: transparent;
                background-image: url(img/app_phone.png);
                z-index: 2;
              }
            }
            .app_self {
              width: 120px;
              height: 213px;
              position: absolute;
              left: 50%;
              top: 0;
              bottom: 0;
              background-color: $primary-color;
              background-size: cover;
              margin: 0 0 0 -60px;
              @media (min-width: 1000px) {
                width: 250px;
                height: 375px;
                left: 150px;
                top: 75px;
              }
            }
          }
          .app_b_desc {
            padding: 20px;
            width: 100%;
            position: relative;
            z-index: 2;
            height: 100%;
            @media (min-width: 1000px) {
              padding: 45px;
              width: 50%;
            }
            b {
              font-size: $font-size-xl;
              line-height: 22px;
              margin-bottom: 5px;
              display: block;
              @media (min-width: 1000px) {
                font-size: 34px;
                line-height: 34px;
                margin-bottom: 10px;
              }
            }
            .app_p {
              font-size: $font-size-15;
              line-height: 20px;
              color: rgba(0, 0, 0, 0.5);
              @media (min-width: 1000px) {
                font-size: $font-size-xl;
                line-height: 26px;
              }
            }
            .test {
              position: relative;
              left: 0px;
              bottom: 0px;
              width: 100%;
              height: auto;
              margin: 10px 0 0 0;
              border-radius: 5px;
              border: 1px solid #ececec;
              @include flexible($jc: space-between);
              background-color: $additional-white;
              @media (min-width: 1000px) {
                height: 55px;
                position: absolute;
                bottom: 45px;
                left: 45px;
              }
              li {
                width: 33%;
                .store {
                  display: block;
                  padding: 4px;
                  white-space: nowrap;
                  text-align: center;
                  height: 100%;
                  @media (min-width: 1000px) {
                    padding: 0px 4px;
                  }
                  span {
                    font-size: calc($font-size-xsm - 1px);
                    opacity: 0.5;
                    color: $gray90;
                  }
                  p {
                    font-size: $font-size-md;
                    position: relative;
                    top: -3px;
                    opacity: 0.5;
                    color: $gray90;
                    letter-spacing: -0.4px;
                    line-height: 9px;
                  }
                  &.apple div {
                    background-repeat: no-repeat;
                    background-position: left 9px;
                    display: inline-block;
                    padding-left: 24px;
                    background-size: 15px;
                    text-align-last: left;
                    @media (min-width: 1000px) {
                      padding: 6px 0 6px 25px;

                      display: block;
                      background-position: left 17px;
                    }
                  }
                  &.google_play div {
                    background-repeat: no-repeat;
                    background-position: left 9px;
                    display: inline-block;
                    padding-left: 24px;
                    background-size: 15px;
                    text-align-last: left;
                    @media (min-width: 1000px) {
                      padding: 6px 0 6px 25px;

                      display: block;
                      background-position: left 17px;
                    }
                  }
                  &.huawei_play div {
                    background-repeat: no-repeat;
                    background-position: left 9px;
                    display: inline-block;
                    padding-left: 24px;
                    background-size: 15px;
                    text-align-last: left;
                    @media (min-width: 1000px) {
                      padding: 6px 0 6px 25px;
                      display: block;
                      background-position: left 17px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
